<!DOCTYPE html>
<html>
    <head>
        <title>Carrinho</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="carrinho.css">
    </head>

    <body>
        <div class="container">
            <h1>Carrinho de Compras</h1>
            <table>
                <tbody>
                    <tr class="container_carrinho">
                        
                        <td>
                            <div class="produto"> 
                                <img src="../../assets/images/img_livro.jpg" alt="Dominando JavasCript Com Jquery">
                                <div class="caracteristicas_produto">
                                    <span class="nm_produto">Dominando JavasCript Com Jquery </span>
                                    <span class="preco"> Preço: R$ 29,90 </span> 
                                </div>
                            </div>
                        </td>
                        <td>
                            <label for="qtd_produto">Quantidade Produtos:</label>
                            <input class="qtd_produto" type="number">
                        </td>
                    </tr>
                </tbody>
                <tr class="container_total">
                    <td></td>
                    <td>Total da Compra</td>
                    <td><div name="total" class="total" id="total">29,90</div></td>
                    <td></td>
                </tr>
            </table> 
        </div>       
    </body>
</html>

<script src="javascript_inicial.js" type='text/javascript'></script>