<!DOCTYPE html>
<html>
    <head>
        <title>Carrinho</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="javascript/javascript_inicial.js"></script>
        <link rel="stylesheet" type="text/css" href="carrinho.css">
    </head>

    <body>
        <div class="container">
            <table>
                <tbody>
                    <tr class="container_carrinho">
                        
                        <td>
                            <div class="produto"> 
                                <img src="../../assets/images/img_livro.jpg" alt="Dominando JavasCript Com Jquery">
                                <span> Preço: R$ 29,90 </span> 
                            </div>
                        </td>
                        <td>
                            <label for="qtd_produto">Quantidade Produtos:</label>
                            <input id="qtd_produto" class="qtd_produto" type="number">
                        </td>
                    </tr>
                </tbody>
                <tr class="container_total">
                    <td></td>
                    <td>Total da Compra</td>
                    <td>
                        <div id="total">
                            R$ 29,90
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table> 
        </div>       
    </body>
</html>