<!DOCTYPE html>
<html>
    <head>
        <title>Carrinho </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="javascript_inicial.js"></script>
        <link rel="stylesheet" type="text/css" href="carrinho.css">
    </head>

    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div> R$ 29,90 </div>
                    </td>
                    <td>
                        <input type="number">
                    </td>
                </tr>
            </tbody>
            <tr>
                <td></td>
                <td>Total da Compra</td>
                <td>
                    <div>
                        R$ 29,90
                    </div>
                </td>
                <td></td>
            </tr>
        </table>        
    </body>
</html>